<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not Inta Gram</title>
    {{! Material icons }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    {{! import materialize }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    {{! custom stylesheet }}
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body class="gray">
    <header>
        {{#if loggedIn}}

        
        <nav class="nav-wrapper blue">
            <div>
                <a href="#" class="brand-logo left">Not Inta Gram</a>
                <ul class="high-on-med-and-down right">
                    <li>
                        <a href="/new">
                            + post
                        </a>
                    </li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/profile">My Profile</a></li>
                    <li><a id="logout">logout</a></li>
                    {{else}}
                    {{/if}}
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    <footer>
        <div class="footer-copyright">
            <p> © 2022 Group Awesome </p>
        </div>
    </footer>
</body>

</html>