<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not Inta Gram</title>
    {{! Material icons }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    {{! import materialize }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    {{! custom stylesheet }}
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

    <div class="container main-container grey darken-2">
        <header class="">
            <nav class="grey darken-3 nav1">
                <div>
                    {{#if loggedIn}}
                    <a href="/" class="brand-logo left"> Not Inta Gram</a>
                    <ul id="nav-mobile" class="right">
                        <li><a href="/new" class="">+ Post</a></li>
                        <li><a href="/">Feed</a></li>
                        <li><a href="/profile">My Profile</a></li>
                        <li><a id="logout">logout</a></li>
                        {{else}}
                        {{/if}}
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    <footer>
        <p>&copy; Group Awesome</p>
    </footer>
    {{!-- import materialize javascript--}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>