    <div>
        <ul class=" container1 grey darken-2 ">
            {{#each posts as |post|}}
            <li class="center"> 
                {{> post-info }}
            </li>
            {{/each}}
        </ul>
    </div>
