<div class="container2" id="container">
    <div class="form-container sign-in-container">
        <form class="login-form">
            <h4>Log in</h4>
            <input type="email" for="email-login" id="email-login" placeholder="Email" />
            <input type="password" for="password-login" id="password-login" placeholder="Password" />
            <a href="#">Forgot your password?</a>
            <button class="button1" type="submit">Log in</button>
        </form>
    </div>
    <div class="overlay-container sign-in-container">
        <div class="overlay">
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-right">
                        <h4>Join Our Network</h4>
                        <p>
                            With an email, Username and Password!
                            You can start connecting
                            with your friends!!
                        </p>
                        <a href="/signup">
                            <button class="button1" id="signUp">
                                Sign up
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="/javascript/login.js"></script>
