<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class = "d-flex flex-column justify-content-left align-items-left">
           <span class="dot"></span>
           <button class = "edit">Edit Profile</button>
        </div>
        <div class = "d-flex flex-column justify-content-center align-items-center">
           <span class= "name mt-3">Joshua DiFrancesco</span>
           <span class="id"> @joshdif</span>
        </div>
        <div class="text mt-3 justify-content-center align-items-center"> 
            <span>24 year old web developer student with a passion for gaming, cooking, and learning.
            </span>
        </div>

        <ul class = "user-posts">
            {{#each posts}}
            <li>
                {{ this }}
            </li>
            {{/each}}
        </ul>

        
    </div>
</div>
