<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="profile-card card p-4">
        <div class = "d-flex flex-column justify-content-left align-items-left">
           <span class="dot"></span>
           
        </div>
        <div class = "d-flex flex-column justify-content-center align-items-center">
           <span class= "name mt-3">{{user.username}}</span>
           <span class="id"> @joshdif</span>
        </div>
    
        <div class="about-me text mt-3 justify-content-center align-items-center" contenteditable="true"  onload="checkEdits()" >
            <span>24 year old web developer student with a passion for gaming, cooking, and learning.
            </span>
        </div>
    </div>
</div> 
<div class="container">
  <div class="feeds card p-4">
    <ul class=" post-list ">
      {{#each posts as |post|}}
      <li class="center-align">
        {{> post-info }}
      </li>
      {{/each}}
    </ul>
  </div>
</div>