<div class="container2">
<div class="profile-cont center">
  <div id="profileData" class="profile-card card-small">
    <div>
      <span class="dot"></span>
    </div>
    <div>
      <span class="">{{username}} </span>
    </div>
    <button id="profileEdits">
      Edit Profile
    </button>
    <div class="text mt-3 " contenteditable="true" onload="checkEdits()">
    </div>
  </div>
</div>

<div class="profile-posts card p-4">
  <ul class=" post-list ">
    {{#each posts as |post|}}
    <li class="center-align">
      {{> profile-post-info }}
    </li>
    {{/each}}
  </ul>
</div>
</div>
<script src="/javascript/profile.js"></script>