<div class=" mt-4 mb-4 p-3 center">
    <div id="profileData" class="card p-4">
        <div class="d-flex flex-column justify-content-left align-items-left">
            <span class="dot"></span>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <span class="">{{user.username}} </span>
            <span class="">{{id.value}} </span>
        </div>
        <button id="profileEdits">
            Edit Profile
        </button>

        <div class="text mt-3 justify-content-center align-items-center" contenteditable="true" onload="checkEdits()">
            {{!-- <span>24 year old web developer student with a passion for gaming, cooking, and learning. </span> --}}
        </div>
    </div>
</div>

<ul class="post-list center">
    {{#each posts as |post|}}
    <li>
        {{> profile-post-info }}
    </li>
    {{/each}}
</ul>

<script src="/javascript/profile.js"></script>

