<div class="container" id="container">
  <div class="overlay-container">
    <form class="signup-form col s12">
      <h4>Create Account</h4>
      <input type="text" id="username-signup" placeholder="Username" />
      <input type="email" id="email-signup" placeholder="Email" />
      <input type="password" id="password-signup" placeholder="Password" />
      <button class="ghost button1" type="submit" id="signIn">Sign up</button>
      {{!-- <button class="btn" class="submit" type="submit">sign up</button> --}}

    </form class="signup-form">
  </div>
  <div class="form-container sign-up-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h4>Or log in here</h4>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" id="signIn">
          <a href="/login">Log in</a></button>
      </div>
    </div>
  </div>

</div>


{{!-- <div class="row">
    <form class="signup-form col 12">
        <div>
            <label for="username-signup">username:</label>
            <input type="text" id="username-signup" />
        </div>
        <div>
            <label for="email-signup">email:</label>
            <input type="text" id="email-signup" />
        </div>
        <div>
            <label for="password-signup">password:</label>
            <input type="password" id="password-signup" />
        </div>
        <div>
            <button type="submit">signup</button>
            <p>If you have an account, then go to <a class="login-link" href="/login">Login</a></p>
        </div>
    </form>
</div> --}}

<script src="/javascript/signup.js"></script>