img {
  height: 500px;
  width: 500%;
}
.dot { /* placeholder for profile picture */
  height: 125px;
  width: 125px;
  background-color: rgb(19, 175, 202);
  border-radius: 50%;
  display: inline-block;
  margin-left: 5%;
  margin-top: 5%;
}
.edit { /*Edit profile button*/
  position:absolute;
  margin-top: 20%;
  margin-left: 64%;
  transition-duration: 0.4s;
}
.edit:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.id{ /*Users @username*/
  margin-left:1%;
  margin-bottom: 2%;
  display: block;
  font-size: 14px;
  font-weight: 600;
}
.name { /*Name Displayed above users @*/
  margin-left:1%;
  margin-bottom: 5%;
  font-size: 22px;
  font-weight: bold
}
.text { /*Description for Profile*/
  text-align: center;
  font-size: 13px;
  color: #545454;
  font-weight: 500
}
.post-list { /*Container of the feed and card*/
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
.post-container {/*Post + description blocks*/
  align-items: center;
  justify-content: space-around;
}
.feeds { /*Feed of images in main content card*/
  align-items: center;
  justify-content: center;
  border-style: solid;
  background-color: #5FC9F3;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}
body { /*Handle Bars Main body*/
  background-color: #57A9F1;
}
.brand-logo { /* Not Inta Gram Logo*/
  justify-content: center;
  left: 2%;
}
nav { /* nav bar */
  height: 80px;
}
.nav-wrapper { /* Nav Bar content Containing logo, feed, My Profile, and login/logout */
  border-style: solid;
  border-color: black;
  background-color: #5FC9F3;
}

/* .hide {
  
} */
/* body{
  margin: 40px;
}

button{
  cursor: pointer;
  outline: 0;
  color: #AAA;

}

.btn:focus {
  outline: none;
}

.green{
  color: green;
}

.red{
  color: red;
} */

